<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        .selected-row {
            background-color: #832626;
        }
    </style>
</head>
<body>
    <h1>User List</h1>
    <div>
        <button onclick="printPage()">Распечатать</button>
{#        <button onclick="sendAndFinish()">Отправить и завершить</button>#}
        <button onclick="send()">Отправить</button>
        <button onclick="finish()">Завершить</button>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>МК</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr onclick="selectRow(this)" data-user-id="{{ user.user_id }}">
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.fio }}</td>
                    <td>{{ "Игрушки" if user.type_mk else "Сайты" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <label for="users_count">Количество людей: {{ users_count }}</label>
    <script>
        function printPage() {
            window.print();
        }

        function send() {
            var selectedRow = document.querySelector('.selected-row');
            if (selectedRow) {
                var userId = selectedRow.getAttribute('data-user-id');

                fetch(`/send_email/${userId}`, { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Сообщение успешно отправлено');
                        } else {
                            alert('Ошибка при отправке сообщения');
                        }
                    })
                    .catch(error => alert('Произошла ошибка: ' + error));
            } else {
                alert('Выберите пользователя для отправки');
            }
        }

        function finish() {
            var selectedRow = document.querySelector('.selected-row');
            if (selectedRow) {
                var userId = selectedRow.getAttribute('data-user-id');

                fetch(`/finish/${userId}`, { method: 'POST' })
                    .then( x =>
                        location.reload()
                    )
                    .catch(error => alert('Произошла ошибка: ' + error));
            } else {
                alert('Выберите пользователя для отправки и завершения');
            }
        }

        {#function sendAndFinish() {#}
        {#    var selectedRow = document.querySelector('.selected-row');#}
        {#    if (selectedRow) {#}
        {#        var userId = selectedRow.getAttribute('data-user-id');#}
        {##}
        {#        fetch(`/finish/${userId}`, { method: 'POST' })#}
        {#            .then( x =>#}
        {#                location.reload()#}
        {#            )#}
        {#            .catch(error => alert('Произошла ошибка: ' + error));#}
        {#    } else {#}
        {#        alert('Выберите пользователя для отправки и завершения');#}
        {#    }#}

        function selectRow(row) {
            var rows = document.querySelectorAll('tbody tr');
            rows.forEach(function (r) {
                r.classList.remove('selected-row');
            });

            row.classList.add('selected-row');
        }
    </script>
</body>
</html>
