<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ввод данных</title>
</head>
<body>
    <form method="post">
        <label for="fio">Фамилия и имя:</label>
        <input type="text" name="fio" required><br>

        <label for="school">Школа:</label>
        <input type="text" name="school" required><br>

        <label for="city">Город:</label>
        <input type="text" name="city" required><br>

        <label for="email">Ваша почта:</label>
        <input type="text" name="email" required><br>

        <label for="type_mk">На какой мастер класс вы пришли?</label>
        <select name="type_mk">
            <option value="0">Игрушки</option>
            <option value="1">Сайт</option>
        </select>
        <br>
        <button type="submit">Отправить</button>
        <br>
        <label for="users_count">Количество людей: {{ users_count }}</label>
    </form>
</body>
</html>
